name: Launch Debugger

on: 
   workflow_dispatch:
     inputs:
       session:
        description: 'Session id'
        required: true
        default: ''
        type: string
       input_hash:
        description: 'Input hash'
        required: true
        default: ''
        type: number
       vtime:
        description: 'vtime'
        required: true
        default: ''
        type: number
       email:
        description: 'email'
        required: true
        default: ''
        type: string

jobs:
  antithesis:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    # Start Antithesis Debugging
    - name: Start Antithesis Debugging
      uses: antithesishq/antithesis-trigger-action@feature-use-more-params
      with:
        notebook_name: launch_debugging 
        tenant: demo
        username: ${{ secrets.ANTITHESIS_USERNAME }}
        password: ${{ secrets.ANTITHESIS_PASSWORD }}
        github_token: ${{ secrets.GH_PAT }}
        email_recipients: ${{ inputs.email }}
        additional_parameters: |-
          antithesis.debugging.session_id=${{ inputs.session }}
          antithesis.debugging.input_hash = ${{ inputs.input_hash }}
          antithesis.debugging.vtime = ${{ inputs.vtime }}
